/*Global*/
h2 {
  margin-top: 0;
}
/*--------------------------*/
/*-----------INDEX----------*/
/*--------------------------*/
/*banner*/
header {
  background-color: grey;
  text-align: center;
  background-size: cover;
  background-position: center center;
  /*creates a fluid height*/
  padding: 200px 15px;
  color: white;
}

/*what we offer*/
#wwo {
  background-color: lightgrey;
  padding: 25px;
}

/*our mission*/
#om {
  padding: 25px;
}

/*how to join*/
#htj {
  background-color: lightgrey;
  padding: 25px;
}


/*--------------------------*/
/*----------CONTACT---------*/
/*--------------------------*/
/*htru*/
#htru {
  background-color: lightgrey;
  padding: 25px;
}


/*--------------------------*/
/*-----------ABOUT----------*/
/*--------------------------*/
/*auto*/
#auto {
  background-color: lightgrey;
  padding: 25px;
}

/*wws*/
#wws {
  padding: 25px;
}

/*wkum*/
#wkum {
  background-color: lightgrey;
  padding: 25px;
}

/*mac*/
#mac {
  padding: 25px;
}
